<div class="title">
    Musical Keyboard
</div>
<div class="keys">
    <button type="button" class="a key" (click)="onClick('C')" (keydown)="onKeydown($event, 'C')">C</button>
    <button type="button" class="s key" (click)="onClick('D')" (keydown)="onKeydown($event, 'D')">D</button>
    <button type="button" class="d key" (click)="onClick('E')" (keydown)="onKeydown($event, 'E')">E</button>
    <button type="button" class="f key" (click)="onClick('F')" (keydown)="onKeydown($event, 'F')">F</button>
    <button type="button" class="g key" (click)="onClick('G')" (keydown)="onKeydown($event, 'G')">G</button>
    <button type="button" class="h key" (click)="onClick('A')" (keydown)="onKeydown($event, 'A')">A</button>
    <button type="button" class="j key" (click)="onClick('B')" (keydown)="onKeydown($event, 'B')">B</button>
    <button type="button" class="k key" (click)="onClick('K')" (keydown)="onKeydown($event, 'K')">K</button>
</div>
<div class="footer">
    &copy; Copyright 2020
    <a href="https://ahamad-portfolio-website.web.app/" target="_blank">
        Ahamad.com
    </a>
</div>